{%extends 'base.html'%}

{%block main_block%}

<section class="section product-detail">
    <div class="details container">
      <div class="left image-container">
        <div class="main">
          <img src="{{data.image.url}}"  alt="" />
        </div>
      </div>
      <div class="right">
        <span>Home/Grocery</span>
        <h1>{{data.title}}</h1>
        <div class="price">M.R.P: ₹ <span class="fw-bolder">{{data.price}}</span> (Incl. of all taxes)</div>
        
        <form class="form">
          <input type="text" placeholder="1" />
          <a href="cart.html" class="addCart">Add To Cart</a>
        </form>
        <h3>Product Detail</h3>
        <p>
          {{data.description}}
        </p>
      </div>
    </div>
  </section>

{%endblock%}